.chat{
  width:50vw;
  
  align-items: center;
}
.msgcontainer{
  height:74vh;
  overflow-y: scroll;
  width:94%
 
  
}
.chattitle{
  width:94%
}
.msg{
  max-width:70%;
  height:54px
}

.msgauther{
  font-size: 10px;
}

.msgcontent{
  font-size: 16px;
}
.msgtime{
  font-size: 8px;
}

.left{
 justify-content: left;
}
.right{
  justify-content: right;

}

.inputcontainer{
  width:94%
}